*{
    border-radius:3px;
}
body{
    height:100%;

}
#selectProfile
{
    width: 17.5%;
    height: 22%;
    left: 28px;
    top: 294px;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    background-color: rgba(255, 255, 255,0.5);
    display: none;
    position: absolute;
}
#profile_cover:hover + #selectProfile
{
    display: inline-block;
}
#selectProfile:hover
{
    display: inline-block;   
}
#selectProfile img {
    position: relative;
    left: 60px;
    bottom: -10px;
}
#selectProfile span 
{
    position: relative;
    left: 6px;
    bottom: -40px;
}
#profile_cover {
    width: 18%;
    height: 44%;
    left: 3%;
    top: 220px; 
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 77px;
    border: 3px solid rgb(115, 115, 115);
    position:absolute;
}
#header {
    width: 845px;
    height: 352px;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    background-size: contain;
    margin-left: 0px;
}
.position_sector{
    position:absolute;
}
.background_sector {
    background-color: white;
}

.option_header {
    z-index: -1;
    text-align: center;
    line-height: 42px;
    font-weight: bold;
    color: hsla(240, 100%, 27%,0.5);
    font-size:13px;
}
#user_name {
    left: 205px;
    bottom: 50px;
    color: rgb(115, 115, 115);
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}
#nick_name {
    left: 368px;
    bottom: 8px;
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: rgb(115, 115, 115);
}
#name {
    margin-top: 0px;
    margin-bottom: 0px;
}
#gioi_thieu {
    position: relative;
    width: 310px;
    left: 0px;
    bottom: 0px;
    height: 410px;
    text-align: center;
}
#sb_site {
    background-color: rgba(13, 49, 114,0.10);
}

#middle {
        position: relative;
    width: 875px;
    height: 100%;
    left: 6%;
    bottom: -40px;
}
#lien_lac {
    position: fixed;
    width: 252px;
    height: 545px;
    left: 970px;
    bottom: -44px;
    overflow-y: scroll; 
}
#trong {
    width: 200px;
    height: 44px;
    left: 0px;
    bottom: -44px;
}
#dong_thoi_gian {
    width: 160px;
    height: 44px;
    left: 202px;
    bottom: -44px;
}
#gioi_thieu_layout {
    width: 109px;
    height: 44px;
    left: 364px;
    bottom: -44px;
}
#ban_be {
    width: 106px;
    height: 44px;
    left: 475px;
    bottom: -44px;
}
#luu_tru {
    width: 91px;
    height: 44px;
    left: 649px;
    bottom: -44px;
}
#xem_them {
    width: 101px;
    height: 44px;
    left: 742px;
    bottom: -44px;
}
#anh {
    width: 64px;
    height: 44px;
    left: 583px;
    bottom: -44px;
}
#gt_header {
    width: 109px;
    position: absolute;
    margin-left: 4px;
    margin-top: 15px;
    font-size: 16px;
    left: -3px;
    top: -8px;
}
.icon_header{
    color:darkslateblue;
    font-size:20px;
}
.gt_format {
    text-align: left;
    display: inline-flex;
    width: inherit;
}
#gt_content {
    width: inherit;
    height: 280px;
    position: absolute;
    top: 86px;
    display: block;
    font-size: 13px;
    left: -6px;
}
.can_le_icon{
    margin:0px 15px;
}
.can_le_text{
    margin:15px 0px;
}
.lien_he{
    margin:15px 15px 15px 15px;
    font-size:14px;
    text-align:left;
}
#lh_header {
    font-weight: bold;
    margin: 15px 15px 15px 15px;
    font-size: 10px;
}
#ds_mon_hoc {
        position: absolute;
    width: 530px;
    left: 315px;
    height: 250px;
    bottom: -62px;
    font-size: 16px;
    background-color :rgba(204, 204, 204,0.4); 
}
.dsmh_header {
    margin-top: 15px;
    margin-left: 4px;
    display:inline-block
}
.ten_truong{
    font-size:12px;
}
.dsmh_tieude{
    font-weight:bold;
}
.dsmh_mon_hoc {
    width: 527px;
    height: 620px;
    position: relative;
    background-color: white;
    right: 30px;
    bottom: -10px;
}
.dsmh_detail {
    width: inherit;
    height: auto;
    line-height: 20px;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;

    -moz-hyphens:auto;
-ms-hyphens:auto;
-webkit-hyphens:auto;
hyphens:auto;
word-wrap:break-word;

}
.dsmh_time {
    padding-left: 3px;
    border-left: 1px dotted rgba(13, 49, 114,0.50);
}
#dsmh {
    position: relative;
    left: 8px;
    top: -7px;
}
.btn{
    width:200px;
    text-align:left;
}
#menu
{
    position: fixed;
    z-index: 1;
}
